/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* VARIABLES */

:root{
  --main-bg-color : #fff;
  --main-text-color : #9597A5;
}

/* GENERAL */

*,
*::before,
*::after{
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


html{
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}



@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  src: 
  url("../fonts/public-sans-v14-latin-100.woff2") format("woff2"), 
  url("../fonts/public-sans-v14-latin-100.woff") format("woff"); 
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: 
  url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), 
  url("../fonts/public-sans-v14-latin-regular.woff") format("woff"); 
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: 
  url("../fonts/public-sans-v14-latin-500.woff2") format("woff2"), 
  url("../fonts/public-sans-v14-latin-500.woff") format("woff");
}

body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-weight: 400;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */

.site-main{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* header start */
.site-header {
  position: fixed;
  z-index: 112;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px 0;
  background-color: var(--main-bg-color);
  
}
.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sitenav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sitenav__item {
  margin-right: 30px;
  
}
.sitenav__item:last-child{
  margin: 0;
}
.sitenav__link {
  font-size: 14px;
  line-height: 16px;
  padding: 32px 0;
  letter-spacing: -0.107692px;
  color: var(--main-text-color);
  border-bottom: 1px solid transparent;
}
.sitenav__item:hover .sitenav__link{
  width: 100px;
  height: 4px;
  color: #2D314D;
  background-image: url("../image/line.jpg"); 
  background-repeat: no-repeat; 
  background-position: center bottom;
  content: "";
}
.site-link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: var(--main-bg-color);  
  padding: 8px 36px 8px 33px;
  background: -o-linear-gradient(315deg, #33D35E 0%, #2AB6D9 99.58%);
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
}
.site-link:hover{
  opacity: 0.4;
}
/* hero section start */
.hero {  
  position: relative;
  padding: 100px 0 441px 0;
  background-image: url(../image/phone.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 635px) calc(50% - 152px);
}
.hero__wrapper {
  position: relative;
  width: 447px;
  padding-top: 170px;
}
.hero__title {
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 24px;
  color: #2D314D;
}
.hero__desc {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  margin-top: 0;
  margin-bottom: 36px;
  color: #9597A5;
}


/* why choose start */
.why-choose {
  margin-top: -260px;
  padding-top: 96px;
  padding-bottom: 94px;
  background-color: #F4F5F7;
}
.why-choose__wrapper {
  width: 635px;
}
.why-choose__title {
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #2D314D;
}
.why-choose__desc {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  margin-top: 0;
  margin-bottom: 72px;
  color: #9597A5;
}

.why-choose__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.why-choose__item {
  position: relative;
  width: 255px;
  margin-right: 30px;
}
.why-choose__item:last-child{
  margin-right: 0;
}
.why-choose__item::before{
  position: absolute;
  width: 72px;
  height: 72px;
  background-image: url("../image/online-bank.svg");
  background-size: 72px 72px;
  content: "";
}
.why-choose__item-title {
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  margin-top: 100px;
  margin-bottom: 28px;
  color: #2D314D;
}
.why-choose__item-desc {
  font-size: 16px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
  color: #9597A5;
  
}


/* latest articles start */

.latest-articles {
  padding: 80px 0;
  background-color: #F2F2F2;
}
.latest-articles__title {
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}
.latest-articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.latest-articles__item {
  width: 255px;
  padding:  0 25px 25px 25px;
  margin-right: 30px;
  background: #FFFFFF;
  border-radius: 5px;
}
.latest-articles__item:last-child{
  margin-right: 0;
}
.latest-articles__item::before{
  position: absolute;
  left: calc(50% - 556px);
  width: 255px;
  height: 200px;
  background-image: url("../image/money.jpg");
  background-size: 255px 200px;
  border-radius: 5px 5px 0px 0px;
  content: "";  
}
.latest-articles__item:nth-child(2):before{
  position: absolute;
  left: calc(50% - 271px);
  width: 255px;
  height: 200px;
  background-image: url("../image/restaurant.jpg");
  background-size: 255px 200px;
  border-radius: 5px 5px 0px 0px;
  content: "";  
}
.latest-articles__item:nth-child(3):before{
  position: absolute;
  left: calc(50% + 16px);
  width: 255px;
  height: 200px;
  background-image: url("../image/plane.jpg");
  background-size: 255px 200px;
  border-radius: 5px 5px 0px 0px;
  content: "";  
}
.latest-articles__item:nth-child(4):before{
  position: absolute;
  left: calc(50%  + 301px);
  width: 255px;
  height: 200px;
  background-image: url("../image/happy.jpg");
  background-size: 255px 200px;
  border-radius: 5px 5px 0px 0px;
  content: "";  
}
.latest-articles__item-text {
  display: inline-block;
  font-size: 10px;
  line-height: 18px;
  margin-top: 225px;
  margin-bottom: 8px;
  color: #9597A5;
}
.latest-articles__link{
  color: #2D314D;
}
.latest-articles__link:hover{
  color: #30C88F;
}
.latest-articles__item-title {
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 8px;
}
.latest-articles__item-desc {
  font-size: 13px;
  line-height: 18px;
  color: #9597A5;
  margin-top: 0;
  margin-bottom: 0;
}

/* site footer start */
.site-footer {
  background-color: #2D314D;
  padding: 48px 0;
}
.site-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
}
.site-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
}
.site-footer__social-item {
  margin-right: 14px;
}
.site-footer__social-item:last-child {
  margin-right: 0;
}
.site-footer__img{
  fill: #fff;
}
.site-footer__img:hover{
  fill: #30C88F;
}
.site-footer__list-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-footer__list {
  width: 130px;
  margin-right: 30px;
}
.site-footer__list:last-child {
  margin-right: 0;
}
.site-footer__item {
  margin-bottom: 8px;
}
.site-footer__item:last-child {
  margin-bottom: 0;
}
.site-footer__item-link {
  font-size: 15px;
  line-height: 26px;
  color: #FFFFFF;  
}
.site-footer__item-link:hover{
  color: #30C88F;
}
.site-footer__link {
  display: block;
  width: 163px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;  
  margin-right: 0;
  margin-bottom: 24px;
  margin-left: auto;
  padding: 8px 36px 8px 33px;
  background: -o-linear-gradient(315deg, #33D35E 0%, #2AB6D9 99.58%);
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
}
.site-footer__link:hover{
  opacity: 0.4;
}
.site-footer__desc {
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.5;
}